div.pure-g-r.banner
  div.pure-u-3-4.banner-inner
    div.banner-nav
      h4
        a(href='/markethome') Home
      div#divide
        h4
          a(href='/portfolio') Portfolio
      div.pure-hidden-phone
        span
          a.fui-list
      ul.dropdown-menu
        li.dropdown-entry
          a(href='/user') Profile
        li.dropdown-entry
          a(href='/contestB') Contests
        li.dropdown-entry
          a(href='/forums') Forums
        li.dropdown-divider
        li.dropdown-entry
          a(href='/logout') Logout
      div.pure-hidden-desktop.pure-hidden-tablet
        span
          a.fui-list(href='/')
    div.banner-brand
      a(href='/markethome')
        img(src='/img/GoProphetLogo6.jpg')
    div.search
      input(id='quicksearch' type="text" name='search' placeholder='Search for Players')
    //h2.pure-hidden-phone
        a(href='/')= title
      h2.pure-hidden-desktop.pure-hidden-tablet
      form#searchform.pure-form.pure-hidden-mini(method='get')
        input#autocomplete.input.pure-input-1-4(type='text' name='search' placeholder='Looking for a player?')
        button#searchbutton.pure-button.button-primary.input(type='submit')
          span.fui-search


    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/js/search.js')
    script(src='/js/banner.js')
    script(src='/js/jquery/jquery-ui-1.10.4.custom.js')
    link(rel='stylesheet' type='text/css' href='/css/pure-min.css')
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    link(rel='stylesheet' type = 'text/css' href='/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    script(src='http://isotope.metafizzy.co/beta/isotope.pkgd.js')
    script(src="js/homeIsotope.js")
