<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="mainContent">
            <h2>Your Players</h2>           
        </div>
        <div id="accordion"> 
            <h3><a href="#">Lebron James (CLE)</a></h3>
    <div class="content">
      <div class="table-container">
        <div class="table-container-header">
          <div class="table-container-header-title">
          </div>
          <div class="table-container-header-button-container">
          </div>
        </div>
        <div id="contestTable" class="table-container-main">
          <table align="center" style="width:1000px">
            <thead>
              <tr>
                <th>Opponent</th>
                <th>Fantasy Value</th>
                <th>Wager Amount</th>
                <th>Over/Under</th>
                <th>Bought Price</th>
              </tr>
            </thead>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
            <h3><a href="#">Kobe Bryant (LAL)</a></h3>            
            <div>
            <p>Bet 1</p>
            </div>
            <h3><a href="#">Chris Paul (LAC)</a></h3>
            <div>
            <p>Bet 1</p>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="myscript.js"></script>
        <script src="../js/portfolio.js"></script>
    </body>
</html>