<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/contestB/contests.css">
    <link rel="stylesheet" type="text/css" href="css/contestB/dataTables.css">
  </head>

  <body id="page">
    <div class="banner">
      <div class="placeholder">
        <p> Fantasy Sports Estimator </p>
      </div>
    </div>

    <div class="content">
      <div class="table-container">
        <div class="table-container-header">
          <div class="table-container-header-title">
            <h1> Contest Info </h1>
          </div>
        </div>
        <div class="table-container-main">
          <div class="table-info-header" style="text-align:center">
            <h2> The Daily Prophet (Game Type B): </h2>
          </div>
          <br></br>
          <p>
            (This game mode can be changed for any number of contestants, and any entry fee, and any number of athletes)
          </p>
          <p>
            To be eligible for any contest prizes, contestants must have $2,000 total risked on at least 2 different players when betting is locked (thus $4,000 being the minimum being betted).
          </p>
          <br></br>
          <p>
            Rules:
            <br>
            Players will be allocated a fixed amount of virtual money after signing up for the contest. All bets made during this contest will be made in virtual currency.<br>
<br>
            All bets will be made at a fixed price. Once the betting deadline is reached, no further bets are allowed and all bets will be locked until the end of the game. There are no limits to how many times you can bet additional money on players up to your fixed amount before the deadline. <br>
<br>
            The goal of the contest is to accumulate as much virtual currency as possible from the end positions of your bets. The payout for the bets is as follows:<br>
<br>
            The amount of money you receive is dependent on how close your estimated value is to the actual fantasy value at the end of the game. The closer you are to the actual value, the higher your payout will be. The formula for the amount of money you win is based on an inverse proportion defined as follows:<br>
<br>
            A + A/(|B-C|+1),<br>
<br>
            where A is the amount you bet, B is the actual fantasy value normalized to 20, and C is your estimated value. Notice that it is always favorable to bet all your money at the end, because you will be receiving a bonus payout regardless of what you think the fantasy value is.<br>
<br>
            For a few examples, let’s say you’re betting $6,000 on Peyton Manning, and his actual fantasy value was 20 at the end of the game.<br>
<br>
            -If you estimated his fantasy value at 20, you would receive $12,000<br>
              6,000 + 6000/(|20-20| + 1) = 6000 + 6000/1 = 12,000<br>
            -If you estimated his fantasy value at 19, you would receive $9,000<br>
              6,000 + 6000/(|20-19| + 1) = 6000 + 6000/2 = 9,000<br>
            -If you estimated his fantasy value at 21, you would also receive $9,000<br>
            -If you estimated his fantasy value at 18, you would receive $8,000<br>
            -If you estimated his fantasy value at 17, you would receive $7,500<br>
            -If you estimated his fantasy value at 1, you would receive $6,300<br>
              6,000 + 6,000/(|20-1| + 1) = 6000 + 6000/20 = 6,300<br>
<br>
            Notice that the amount you win goes down by less the farther away your estimated value is to the real value. Conversely, the closer you are, your payout increases at a faster rate.<br>
<br>
            Contest Winner:<br>
            Each player’s final net worth will be the sum of their remaining money, plus their winnings from each player that they bet upon.<br>
<br>
            Contestants will be ranked according to their virtual money balance at the end of the contest, and prizes will be awarded according to the listed contest information.<br>
<br>
            -If x people tie for first place, they all receive 85/x dollars. For example, if Bob was part of a 5-way tie for first place, he would win 85/5 = 17 dollars.<br>
<br>
            Contest Withdrawal:<br>
<br>
            Once you have entered this contest you have until 30 minutes before the contest start time to withdraw. If you withdraw from the contest, your entry fee will be refunded to your account balance. <br>
<br>
            Contest Conclusion:<br>
<br>
            The contest will conclude after the game with the players in questions have been concluded. Contestants’ virtual balances will then be calculated, and prizes will be awarded accordingly.<br>
          </p>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  </body>
</html>
