<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GoProphet: Real-Time Fantasy Sports</title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="masthead clearfix">
      <div class="wrap">
        <a href= "/home" class="masthead-brand">
          <img src= 'assets/static/GP-01.png'>
        </a>
        <ul class="nav masthead-nav">
          <li class="active"><a href="#">About Us</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/faq">FAQ</a></li>
          <!--<li><a href="/contact">Contact</a></li>-->
          <li><a href="/{{link}}" >{{display}}</a></li>
      </div>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">David Lu</span></h2>
          <p class="lead">David likes to sleep in air conditioned rooms.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/static/DavidProfile.jpg" height="500px" width="500px">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img src="assets/static/HarrisonProfile.jpg" height="500px" width="500px">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Harrison Zhao</span></h2>
          <p class="lead">Harrison likes to watch Mushishi.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Jeffrey Yan</span></h2>
          <p class="lead">Jeffrey likes juice.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/static/JeffreyProfile.jpeg" height="500px" width="500px">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img src="assets/static/TaeProfile.jpg" height="500px" width="500px">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Taehoon Lee</span></h2>
          <p class="lead">Taehoon likes pie.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#" style = "color : #FFFFFF" >Back to top</a></p>
        <p>&copy; 2014 GoProphet, Inc. &middot; <a href="change-hyperlink-color.php" style="color: #FFFFFF">Privacy</a> &middot; <a href="/terms" style="color: #FFFFFF">Terms</a>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap/about.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
