<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap/faq.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <title>GoProphet: Real-Time Fantasy Sports</title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="masthead clearfix">
      <div class="wrap">
        <a href= "/home" class="masthead-brand">
          <img src= 'assets/static/GP-01.png'>
        </a>
        <ul class="nav masthead-nav">
          <li><a href="/about">About Us</a></li>
          <li><a href="/features">Features</a></li>
          <li class="active"><a href="#">FAQ</a></li>
          <!--<li><a href="/contact">Contact</a></li>-->
          <li><a href="/{{link}}" >{{display}}</a></li>
      </div>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-12">
          <h2 align="center" class="featurette-heading">Frequently Asked Questions</span></h2>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">What is GoProphet?</span></h2>
          <p class="lead">
            GoProphet is a real-time fantasy sports website where you can make bets even when a game
            is going on.  There are no salary caps and you do not have to draft athletes.  You can
            just place bets on your favorite players, then when your players' stock rises, you can
            sell the bet for a profit.  Learn more on the <a href="/features" style="color: #52527A">Features Page</a>.
          </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Real-time fantasy sports sounds complicated.  Why should I choose to play GoProphet?</span></h2>
          <p class="lead" >
            GoProphet is very intuitive.  It is simpler than traditional fantasy
            sports websites or daily fantasy sports websites, because you do not have to know
            all the athletes in a specific sport.  You can place bets on only your favorite
            athletes. <br>
            It is easy for beginners to learn, but experts can also profit by researching the players
            they are betting on.
          </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Are there any restrictions for playing?</span></h2>
          <p class="lead">
          GoProphet is legal to play for play money.  To play for real money, you must be at least 18 years old to play. You must also be a legal resident in the United States, and a legal resident from one of the following states: Alabama; Alaska; California; Colorado; Connecticut; Delaware; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oregon; Pennsylvania; Rhode Island; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; West Virginia; Wisconsin; or Wyoming; or the District of Columbia that allows fantasy sports. See the <a href="/terms" style="color: #52527A">Terms and Conditions</a> for more information.
          </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">What game modes are currently available?</span></h2>
          <p class="lead">We currently have two game modes on GoProphet, NFL market and Game Mode B. Both games offer crowdsourced statistics that can be viewed by any user, free of charge. Additionally, NFL market is a real time fantasy sports game, allowing contestants to buy and sell players in real time.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">How are winnings calculated? </span></h2>
          <p class="lead" >Please see our <a href="/rules" style="color: #52527A">Rules</a> page for more information on how games work. </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">When are prize pools paid out?</span></h2>
          <p class="lead" >Prize pools are generally paid out in the following few days, and are almost always paid out within a week (exceptions made for larger or higher prize pool contests).</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Is playing on GoProphet legal?</span></h2>
          <p class="lead" >
          In 2006 the federal government passed a law called the Unlawful Internet Gaming Enforcement Act which was designed to prevent gambling over the internet. The law included a carve out that clarified the legality of fantasy sports. Specifically, it exempted:

"participation in any fantasy or simulation sports game or educational game or contest in which (if the game or contest involves a team or teams) no fantasy or simulation team is based on the current membership of an actual team that is a member of an amateur or professional sports organisation and meets the following conditions: 

1. All prizes and awards offered to winning participants are established and made known to the participants in advance of the game or contest and their value is not determined by the number of participants or the amount of any fees paid by participants. 
2. All winning outcomes reflect the relative knowledge and skill of the participants and are determined predominantly by accumulated statistical results of the performance of individuals (athletes in the case of sports events) in multiple real-world sporting or other events. 
3. No winning outcome is based: a. On the score, point spread, or any performance or performances of any single real world team or any combination of such teams; or b. Solely on any single performance of an individual athlete in any single real-world sporting or other event."

GoProphet takes the legal status of the games it offers very seriously and for more information please see our <a href="/terms" style="color: #52527A">Terms And Conditions</a> page for more information on how games work. If you have any further concerns about the legality of our games please do get in touch.</p>

        </div>
        <div class="col-md-5">
        </div>
      </div>

      <!--
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">How you do ensure people don't try to cheat in your tournaments?</span></h2>
          <p class="lead" >Your money is kept  </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      -->

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">How do I know that my money is secure in my account?</span></h2>
          <p class="lead" >GoProphet uses the most secure transaction methods available, which guarantees users a safe and reliable experience. </p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Contact Us</span></h2>
          <p class="lead" >To contact a GoProphet member, please email GoProphetTeam@gmail.com and we will get back to you quickly.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#" style = "color : #FFFFFF" >Back to top</a></p>
        <p>&copy; 2014 GoProphet, Inc. &middot; <a href="/tournamenttables" style="color: #FFFFFF">Privacy</a> &middot; <a href="/terms" style="color: #FFFFFF">Terms</a>
      </footer>

    </div><!-- /.container -->
  </body>
</html>
