<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap/features.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>GoProphet: Real-Time Fantasy Sports</title>


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
<!-- NAVBAR
================================================== -->

  <body>
    <div class="masthead clearfix">
    <div class="wrap">
      <a href="/home" class="masthead-brand">
        <img src="assets/static/GP-01.png">
      </a>
        <ul class="nav masthead-nav">
          <li><a href="/about">About Us</a></li>
          <li class="active"><a href="#">Features</a></li>
          <li><a href="/faq">FAQ</a></li>
          <!--<li><a href="/contact">Contact</a></li>-->
          <li><a href="/{{link}}" >{{display}}</a></li>
      </div>
    </div>



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Real-Time Trading</h1>
              <p>Players can take and make bets on our easy-to-use interactive market page.  Players can also load and unload positions even when a game is going on.  The idea is to buy low and sell high!</p>
              <p><img src = 'assets/static/stockgraph.jpg' height='200' width='450'</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Statistics</h1>
              <p>We provide detailed graphs on the latest bets taken on individual players.  The graphs represent crowdsourced market valuation of a player, which can help you decide your fantasy lineup!</p>
              <p><img src = 'assets/static/AaronRodgersGraph.png' height='200' width='450'</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>No Commitments</h1>
              <p>Just pick your favorite athletes and place your wagers.  Easy to play.  No need to know all the players in the NFL.  No season-long commitments.   Play for for free now!</p>
              <p><img src = 'assets/static/sportsfans.jpg' height='200' width='450'</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: 0px">NFL Market, the future of fantasy sports</span></h2>
          <p class="lead">Play the NFL stock market, where you can buy and sell positions of players based on the outcome of games, by picking whether or not a player scores over/under a certain value. Buy and sell players and make money from being ahead of the curve. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="assets/static/landingPageFull.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive"
          style="margin-top: 75px" src="assets/static/landingPageSubmitExample.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: -5px">Making A Bet</span></h2>
          <p class="lead">To make a bet, specify a number and whether or not you think the athlete will do better or worse than this.
          <br>
           Then, specify the amount you want to wager for this bet and submit. Here, we are wagering
           5 dollars that Peyton Manning will score more than 30 fantasy points.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: -5px">Taking a Bet</span></h2>
          <p class="lead">To take a bet in the market, look at the current bets for your player and click on the arrow representing the position you're taking.
            <br>
            For example, for the first bet, you would win $10 if Peyton Manning scores more than 29.5 points. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" style="margin-top: 25px" src="assets/static/landingPageMarketTable.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" style="margin-top: 20px" src="assets/static/landingPageGraph.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top: 0px">Real-Time Trading and Stats</span></h2>
          <p class="lead">All these transaction can be made in real-time even during a game.
          You can do this by selling bets you've already established back into the market. <br>
          Real-time graphs reflect the current market value of an athlete, which are crowdsourced values collected by thousands of users.<br>
          What are you waiting for? Play for free now</p>
          <a href="/login" class="btn btn-lg btn-default" style="margin-top: 20px">Play Now</a>
        </div>
      </div>

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#" style = "color : #FFFFFF" >Back to top</a></p>
        <p>&copy; 2014 GoProphet, Inc. &middot; <a href="change-hyperlink-color.php" style="color: #FFFFFF">Privacy</a> &middot; <a href="/terms" style="color: #FFFFFF">Terms</a>
      </footer>

    </div><!-- /.container -->
  </body>
</html>
