<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap/rules.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <title>GoProphet: Real-Time Fantasy Sports</title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="masthead clearfix">
      <div class="inner">
        <a href=/home><img src= 'assets/static/GP-01.png' href = "/home" class = "masthead-brand" height="90" width="120"></a>
        <ul class="nav masthead-nav">
          <li><a href="/about">About</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li class="active"><a href="#">Rules</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/{{link}}" >{{display}}</a></li>
      </div>
    </div>






    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-12">
          <h2 align="center" class="featurette-heading">Rules</span></h2>
        </div>
      </div>

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-12">
          <h2  class="featurette-heading">General</span></h2>
          <p class="lead">Welcome to GoProphet, an interactive fantasy sports platform where users can participate in various contests and games in various professional sports such as football, baseball, basketball, and others. We also offer crowdsourced statistics from our various games and contests.</p>

          <p class="lead">Your use of GoProphet’s services is governed by these rules, GoProphet Terms and Conditions, and GoProphet Privacy Conditions.</p>

          <p class="lead"> GoProphet may modify these Rules, including the different games and Contests offered, from time to time or without your notice upon posting to the site. It is your responsibility to periodically review these rules. You agree that if you use GoProphet after such notice or changes in the Rules, you will be bound by all such changes.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Eligibility</span></h2>
          <p class="lead">Contests can be entered for either an entry fee to play for cash prizes, or without an Entry Fee without cash prizes.</p>
          <p class="lead">Eligibility is only granted to users who fulfill the requirements under Eligibility on our Terms and Conditions page. GoProphet reserves the right to disqualify contestants who do not adequately satisfy eligibility and/or withhold prize money from uneligible contestants.</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-12">
          <h2 align="center" class="featurette-heading">Game Modes</span></h2>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">NFL Market</span></h2>
          <p class="lead">
          Type: Real Time <br>
          Entry Fee: Free to Play <br>
          Minimum Entries: 1<br>
          Maximum Entries: Unlimited<br>
          Current Entries: <br>
          Virtual Funds: $1,000,000<br>
          Contest Length: Unlimited<br>
          <br>
          This is a real time game that simulates the fantasy players market. Users can post trades in the following manner: <br>
<br>
Player:<br>
Fantasy Value:<br>
Multiplier:<br>
Over/Under (The maker of the trade specifies which one he/she is picking, the person who takes the trade must take the opposite side): <br>
<br>
Other Users can take these trades, or make their own trades. At the end of the game, these trades will be processed accordingly:<br>
<br>
-The payout for a trade is the multiplier*the amount of points over/under the agreed upon value (capped at the agreed upon fantasy value). For example, Bob takes trade for Peyton Manning posted at 30, where he took the over option. The multiplier is set at 10. Bob’s winnings/losings is capped at 300 dollars:<br>
<br>
-If Peyton Manning scores 35 fantasy points, Bob wins (35-30)*10 = 50 dollars<br>
-If Peyton Manning scores 20 fantasy points, Bob wins (20-30)*10 = -20, so he loses 20
dollars.<br>
-If Peyton Manning scores 65 fantasy points, Bob wins (65-30)*10 = 350 -> 300 dollars, since the amount Bob can win/lose is capped at 300 dollars (his multiplier times  the agreed upon fantasy value). <br>
<br>
-When a user takes a trade, both people lose the multplier*fantasy value in terms of their spending power. For example, if Bob posts a trade at 30/down with a multiplier of 20, he is essentially forfeiting $600 in spending power, as he can potentially lose up to $600.
<br>
<br>
-The number of trades people can make/take is limited to 20 at any given time.<br>
-Trades can be made/taken (and are encouraged) during games.<br>
-Trades are only good for the upcoming game, and are paid out right after the game.<br>
-Arbitrages are calculated as losing no spending power for both of the bets.<br>
-For example, if Bob took a bet for Peyton Manning at 30/over and another bet at 40/under for the same multipler, he is not losing any spending power, as he is guaranteed to make money from the result of the two bets.<br>
<br>
<br>
Cheating:<br>
<br>
Contestants may flag trades that might involve collusion or any other unfair play. Flagged trades will be reviewed and will be nullified if deemed to be unsportsmanlike behavior. Prizes may not be paid out to contestants who are deemed to have cheated, with no refunds. However, the size of prize pool that will be distributed will remain the same. <br>
<br>
GoProphet reserves to right to disqualify any trades that are deemed to be unsportsmanlike, unlawful, or involve any illicit activities. People who have been disqualified from the tournament can appeal the decision after the tournament is over by sending an email to the tournament director.<br>
<br>
People who abuse the flagging system will have their flagging privileges revoked, and possibly banned. <br>
</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Game Type B</span></h2>
          <p class="lead">
Contest Type: Pre-Game<br>
Start Time: TBD <br>
Entry Fee: $10.00<br>
Total Prizes: 1st Place gets $85.00<br>
Minimum Entries: 1<br>
Maximum Entries: 10<br>
Current Entries: <br>
Virtual Funds: $10,000<br>
Contest Length: One Game<br>
Number of Athletes to be Evaluated: 5<br>
<br>
To be eligible for any contest prizes, contestants must have $2,000 total risked on at least 2 different players when betting is locked (thus $4,000 being the minimum being betted).<br>
<br>
Players will be allocated a fixed amount of virtual money after signing up for the contest. All bets made during this contest will be made in virtual currency.<br>
<br>
All bets will be made at a fixed price with the GoProphet Automated Market automatically taking all of your bets. Once the betting deadline is reached, no further bets are allowed and all bets will be locked until the end of the game. There are no limits to how many times you can bet additional money on players up to your fixed amount before the deadline. <br>
<br>
The goal of the contest is to accumulate as much virtual currency as possible from the end positions of your bets. The payout for the bets is as follows:<br>
<br>
If at least 3 people bet on a player:<br>
-The person with the closest value gets 200% of what he/she bet<br>
-The person with the second closest value gets 150% of what he/she bet<br>
-If there is a x-way tie for the closest value, then they all receive 100% + 150/x% of what he/she bet. For example, if Bob was part of a 3-way tie for first place, he would earn 100% + 150/3% = 150% of what he bet.<br>
-If x people tie for the second closest value, then they all receive 100% + 50/x% of what he/she bet. For example, if Bob was part of a 5-way tie for second place, he would earn 100% + 50/5% = 110% of what he bet.<br>
<br>
-Everyone else does not win anything on that player.<br>
<br>
If less than 3 people bet on a player:<br>
-The person with the closest value gets 150% of what he/she bet.<br>
-If two people tie for the closest value, they both get 125% of what he/she bet.<br>
-Everyone else does not win anything on that player.<br>
<br>
<br>
Contest Winner:<br>
Each player’s final net worth will be the sum of their remaining money, plus their winnings from each player that they bet upon.<br>
<br>
Contestants will be ranked according to their virtual money balance at the end of the contest, and prizes will be awarded according to the listed contest information.<br>
<br>
-If x people tie for first place, they all receive 85/x dollars. For example, if Bob was part of a 5-way tie for first place, he would win 85/5 = 17 dollars.<br>
<br>
<br>
Contest Withdrawal:<br>
<br>
Once you have entered this contest you have until 30 minutes before the contest start time to withdraw. If you withdraw from the contest, your entry fee will be refunded to your account balance. <br>
<br>
<br>
Contest Conclusion:<br>
<br>
The contest will conclude after the game with the players in questions have been concluded. Contestants’ virtual balances will then be calculated, and prizes will be awarded accordingly.<br>
</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Game Type C</span></h2>
          <p class="lead">
Contest Type: Real Time<br>
Entry Fee: $5.00/10.00<br>
Total Prizes: <br>
-1st Place gets $200.00/400.00<br>
-2nd Place gets $125.00/250.00<br>
-3rd Place gets $50.00/100.00<br>
-4th to 10th Place gets $7.00/14.00 each (This is for 100 entries)<br>
Minimum Entries: Varies<br>
Maximum Entries: Varies<br>
Current Entries: <br>
Virtual Funds: $50,000<br>
Contest Length: One Game<br>
<br>
This game mode is very similar to NFL Market, with the restriction being for only one game, in a tournament setting. Thus, most rules will be similar, but not identical:<br>
<br>
Rules:<br>
<br>
Contestants can post trades in the following manner:<br>
<br>
Player:<br>
Fantasy Value:<br>
Multiplier:<br>
Over/Under (The maker of the trade specifies which one he/she is picking, the person who takes the trade must take the opposite side): <br>
<br>
Other Users can take these trades, or make their own trades. At the end of the game, these trades will be processed accordingly.<br>
<br>
-In order to be eligible for prizes, contestants must take trades or have their trades taken that are valued at at least $10,000, with $5,000 on at least 2 separate players.<br>
<br>
-The payout for a trade is the multiplier*the amount of points over/under the agreed upon value (capped at the agreed upon fantasy value). For example, Bob takes trade for Peyton Manning posted at 30, where he took the over option. The multiplier is set at 10. Bob’s winnings/losings is capped at 300 dollars.<br>
  -If Peyton Manning scores 35 fantasy points, Bob wins (35-30)*10 = 50 dollars<br>
  -If Peyton Manning scores 20 fantasy points, Bob wins (20-30)*10 = -20, so he loses
20 dollars.<br>
-If Peyton Manning scores 65 fantasy points, Bob wins (65-30)*10 = 350 -> 300 dollars, since the amount Bob can win/lose is capped at 300 dollars (his multiplier times  the agreed upon fantasy value). <br>
<br>
-When a user takes a trade, both people lose the multplier*fantasy value in terms of their spending power. For example, if Bob posts a trade at 30/down with a multiplier of 20, he is essentially forfeiting $600 in spending power, as he can potentially lose up to $600.  <br>
<br>
-The number of trades people can make/take is limited to 20 at any given time.<br>
-Arbitrages are calculated as losing no spending power for both of the bets.<br>
-For example, if Bob took a bet for Peyton Manning at 30/over and another bet at 40/under for the same   multiplier, he is not losing any spending power, as he is guaranteed to make money from the result of the two bets.<br>
<br>
Contest Winner:<br>
<br>
Each player’s final net worth will be the sum of their remaining money, plus their winnings from each player that they bet upon.<br>
<br>
Contestants will be ranked according to their virtual money balance at the end of the contest, and prizes will be awarded according to the listed contest information.<br>
<br>
-If x people tie for any prize, they all receive equal shares, and the remaining prizes will be adjusted accordingly.<br>
<br>
<br>
Contest Withdrawal:<br>
<br>
Once you have entered this contest you have until 30 minutes before the contest start time to withdraw. If you withdraw from the contest, your entry fee will be refunded to your account balance. <br>
<br>
<br>
Contest Conclusion:<br>
<br>
The contest will conclude after the game with the players in questions have been concluded. Contestants’ virtual balances will then be calculated, and prizes will be awarded accordingly.<br>
<br>
<br>
Cheating:<br>
<br>
Contestants may flag trades that might involve collusion or any other unfair play. Flagged trades will be reviewed and will be nullified if deemed to be unsportsmanlike behavior. Prizes may not be paid out to contestants who are deemed to have cheated, with no refunds. However, the size of prize pool that will be distributed will remain the same. <br>
<br>
GoProphet reserves to right to disqualify any trades that are deemed to be unsportsmanlike, unlawful, or involve any illicit activities. People who have been disqualified from the tournament can appeal the decision after the tournament is over by sending an email to the tournament director.<br>
<br>
People who abuse the flagging system will have their flagging privileges revoked, and possibly banned. <br>
<br>
</p>
        </div>
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#" style = "color : #FFFFFF" >Back to top</a></p>
        <p>&copy; 2014 GoProphet, Inc. &middot; <a href="change-hyperlink-color.php" style="color: #FFFFFF">Privacy</a> &middot; <a href="/terms" style="color: #FFFFFF">Terms</a>
      </footer>

    </div><!-- /.container -->


  </body>
</html>
