<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="css/bootstrap/terms.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <title>GoProphet: Real-Time Fantasy Sports</title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="masthead clearfix">
      <div class="wrap">
        <a href= "/home" class="masthead-brand">
          <img src= 'assets/static/GP-01.png'>
        </a>
        <ul class="nav masthead-nav">
          <li><a href="/about">About</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/faq">FAQ</a></li>
          <!--<li><a href="/contact">Contact</a></li>-->
          <li><a href="/{{link}}" >{{display}}</a></li>
        </ul>
      </div>
    </div>






    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-12">
          <h2 align="center" class="featurette-heading">Terms and Conditions</span></h2>
        </div>
      </div>

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-12">
          <h2  class="featurette-heading">1. Acceptance of Terms</span></h2>
          <p class="lead"><font size="3">
The web pages that are provided by GoProphet at goprophet.com and all derivatives which the services (“Services”) of GoProphet are accessed (the “Site”), are owned and operated by GoProphet (“GoProphet”). Please read the terms and conditions below before using this Site. By accessing this Site, or using any part of the Site or any content/services on the Site, you agree to be accepted and bound by these terms. If you do not agree to all of the terms and conditions, you may not access the Site or use the content and and services in the Site. </font></p>
        </div>
        <div class="col-md-5">
        </div>
      </div>
<br>
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">2. Modifications of Terms</span></h2>
          <p class="lead"><font size="3">
GoProphet may modify these terms, or the Rules from time to time. You are responsible for reviewing such changes and becoming familiar with any such modifications. Using the Site after these changes assumes your acceptance of the terms and conditions of the Terms and Conditions as modified.<br>
<br>
GoProphet’s services are always changing and the nature of the services that GoProphet provides may change from time to time without your notice. GoProphet may also stop providing some services to you and/or to other users and may not be able to provide your prior notice of these changes.<br>
<br>
</font>
<h2 class="featurette-heading">3. Restrictions on Use</span></h2>
<p class="lead"><font size="3">
<br>
Subject to these Terms and Conditions, you are granted a limited license to access and use the Services solely for personal, non commercial purposes strictly in accordance with respect to these Terms and Conditions. You can only use Services for personal use. <br>
<br>
You agree not to use the Services in any way that might damage, disable, overwork, or compromise any:<br>
-GoProphet services or products<br>
-Other party’s use and enjoyment of any GoProphet services or products<br>
-Services or products of any third parties <br>
<br>
GoProphet explicitly prohibits the use of any software (or devices) that are designed to provide automated access to the Services, including for any commercial purposes, except for any software and/or devices explicitly allowed by us. We reserve the right to take any measures to prevent such access, including denial or termination of your access to the Services of our Site.<br>
<br>
</font>
<h2 class="featurette-heading">4. Eligibility</span></h2>
<p class="lead"><font size="3">
<br>
In order to participate in a tournament or any contest, you must open and maintain an account. You may only establish one account per person. Contests can either be entered for an entry fee to play for cash prizes (“Paid Contest”) or with no entry fee and without cash prizes (“Free Contest”).
Free Contests are open to account holders who are at least 18 years old (or the age of majority within your jurisdiction, whichever is OLDER), and who are legal residents of the United States, or the District of Columbia, and who are physically located in the United States and using the Services from the United States or the District of Columbia. <br>
<br>
**********<br>
Paid Contests are only open to account holders who are: <br>
<br>
  -At least 18 years old (or the age of majority within your jurisdiction, whichever is OLDER)<br>
  -Legal residents of one of the following states: Alabama; Alaska; California; Colorado;
Connecticut; Delaware; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oregon; Pennsylvania; Rhode Island; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; West Virginia; Wisconsin; or Wyoming; or the District of Columbia<br>
-Physically located in the United States and using the Services from the United States or the District of Columbia.<br>
<br>
By participating in a Contest, you represent that you are eligible to participate in the selected contest.<br>
<br>
Except as otherwise stated, the following persons may play but are not eligible to receive any cash prizes: Employees, managers, officers, and directors of GoProphet or its affiliates, their immediate family or anyone who shares the same residence as them.<br>
<br>
If you do not meet the eligibility requirements of this section, then do not use GoProphet Service. GoProphet reserves the right to suspend or terminate the account (and terminate, revoke, or hold the prizes associated with any such account) of any user of GoProphet that does not meet the foregoing requrements. GoProphet may require you to provide proof that you are eligible to participate according to this section before you receive any prizes.<br>
<br>
All Contests are subject to these Terms and Conditions. Contests are void where prohibited by law.<br>
<br>
</font>
<h2 class="featurette-heading">5. Conditions for Participation</span></h2>
<p class="lead"><font size="3">
<br>
Registration:<br>
In order to participate in contests on the Site, you must register for an account. By registering as a user of the Site, you agree to provide accurate, current, and complete information about yourself as asked and maintain and update (promptly) the registration data to keep it accurate, current, and complete. <br>
<br>
If you provide any information that is inaccurate, incomplete, or not up to date, or GoProphet has reasonable grounds to believe that such information is inaccurate, incomplete, or not up to date, GoProphet may deny you access to parts of the Site requiring registration, at its discretion. <br>
<br>
Account Security<br>
<br>
For registration, you must provide a valid email address and supply a Username and Password to be used with your account. You are responsible for maintaining the confidentiality of your Username and Password, and are responsible for any and all uses of your Username and Password, whether by you or others. <br>
<br>
You agree to keep your Username and Password confidential and not to share them with anyone else, as well as to immediately notify GoProphet of any unauthorized use of your account or any other breach of security. GoProphet cannot and will not be liable for any loss or damage from your failure to comply with this Section.<br>
<br>
You acknowledge and agree that GoProphet is authorized to act on instructions received by your Username and Password. GoProphet may, but is not obligated to, deny access and/or block any transaction made through use of your Username and Password without prior notice if we believe your Username and Password are being used by someone other than you, or any reason.<br>
<br>
</font>
<h2 class="featurette-heading">6. Contests</span></h2>
<p class="lead"><font size="3">
<br>
GoProphet is a game of skill. Winners are determined by the criteria stated in each of the contest’s rules. For each contest, winners are determined by the individuals who show and utilize their skill and knowledge of relevant sports information and fantasy rules to accumulate the largest advantage over everyone else. <br>
<br>
For all “live” statistics that GoProphet provides and all other statistics provided through the GoProphet site are unofficial. Live sports statistics and their derivative components are offered for informational and entertainment purposes only and are not used to determine the results of our Contests. While GoProphet and the parties used to provide the GoProphet services use a reasonable amount of effort to include accurate and up to date information, neither GoProphet nor its providers warrant and make and representation of any kind with respect to the information provided by the Site. GoProphet and its providers are not responsible or liable for the accuracy, availability, or usefulness or any information available on the Site and will not be responsible for any error or omissions in such information.<br>
<br>
Contest Entry Fee<br>
<br>
To enter a Paid Contest, you must provide the applicable entry fee in advance of the Paid Contest’s specified start time, as determined by GoProphet. The entry fee, if any, will be deducted from the balance of real money available in your user account (“Virtual Wallet”) as soon as you join the specified Paid Contest. All Entry Fees will be in U.S. dollars. You acknowledge and agree that GoProphet is the host of the Services and may charge fees for hosting, scoring, and settling Contests.<br>
<br>
Deposits and Withdrawals<br>
<br>
Deposits and withdrawals may be made for Paid Contests only. Users participating in Free Contests cannot make deposits or withdrawals from their Virtual Wallet. <br>
<br>
TO BE EDITED LATER WHEN WE HAVE MORE DWOLLA INFO<br>
<br>
<br>
Refund Policy<br>
<br>
Once you have entered a Paid Contest you have until 30 minutes before the contest start time to withdraw. Upon withdrawal, you receive a full refund for your entry fee which will be deposited into your account balance. After a Paid Contest starts, entry fees are not refundable. Notwithstanding anything to the contrary, GoProphet reserves the right to cancel a Contest at any time, including if a Contest does not meet the participation requirements. In the event of a cancellation, all entry fees will be refunded to the users who joined the Contest and will be deposited into their accounts.<br>
<br>
Contest Terms<br>
<br>
GoProphet offers contests for multiple professional sports events taking place on a single day, as well as offering season long, free to play contests.<br>
<br>
By entering a Contest or accepting any prize, contestants, including but not limited to the winners, agree to indemnify, release, and hold GoProphet harmless, its parents, derivatives, affiliates, and agents, as well as employees, officers, directors, shareholders, representatives of any of the mentioned entities from any and all liability, claims or actions of any kind, including but not limited to damages, injuries, or losses to persons and property which could be sustained in connection with participation in a Contest, the receipt, use or misuse of any prize, ownership, or participating in and/or travelling to or from any prize related activity, as well as any claims based on defamation, invasion of privacy, or publicity rights. <br>
<br>
Prizes<br>
<br>
After each Paid Contest ends, prizes are awarded (generally by the next day). The contestants who win according to the contest rules will win prizes as determined in the provided contest details. Prizes are added to the winning contestant’s Virtual Wallet. In the case of ties, the prize is divided evenly between the tied players, unless otherwise specified.<br>
<br>
Fanduel offers different types of contests. For each contest, entry fees and prizes will be listed in advance on the contest page. Prize calculations are based on the results as of the time when final scoring is accounted by GoProphet. Once prizes are awarded, the scoring results will be unchanged, regardless of any official adjustments made by professional leagues.<br>
<br>
No transfer of prize is permitted. All taxes associated with the use of any prize money will be the sole responsibility of the winner. In the case where the awarding of prizes to winners of the Contest is challenged by legal authority, GoProphet reserves the right in its sole discretion whether or not to award such prizes.<br>
<br>
Disqualification<br>
<br>
GoProphet, in its sole discretion, may disqualify you from participating in the Services, refuse to award prizes and/or require the return of prizes if you engage in any conduct which GoProphet deems to be improper, unfair, or otherwise adverse to the operation of the Services, or which is detrimental to GoPropher or any other users. Such conduct includes but is not limited to:<br>
  -Collusion by two or more users in the same Contest<br>
  -Falsifying personal information, deposit and withdrawal transactions or prize claims<br>
  -Tampering with the operation of Services or any other derivatives of Services<br>
  -Violating these Terms and Conditions<br>
  -Accumulating prizes from methods such as but not limited to automated computer <br>
scripts, or any other programming techniques<br>
-Tampering with GoProphet’s administration of Services<br>
-Intentionally trying to harm, reverse engineer, or tamper with the computer programs on
the Site.<br>
<br>
You further agree that the forfeiture of any prizes and/or the return of prizes shall in no way prevent GoProphet from pursuing other ways of recourse such as civil or crimial proceedings in connection with such conduct. <br>
<br>
Punishments consist of but are not limited to the following:<br>
-Temporary suspension from Paid Contests<br>
-Temporary suspension from all Contests<br>
-Temporary suspension of your account<br>
-Permanent suspension of your account<br>
<br>
Any attempt by a contestant or any other individual to deliberately harm the website or undermine the operation of any contest is a violation of criminal and/or civil laws and should such an attempt be made, GoProphet reserves the right to seek out damages, and any other compensation from any such person to the fullest extent permitted by the law.<br>
<br>
</font>
<h2 class="featurette-heading">7. Limitation on Liability</span></h2>
<p class="lead"><font size="3">
<br>
You explicitly understand and agree that GoProphet will not be liable to you for any direct, indirect, punitive, consequential, special, or exemplary loss, lost profits, or injury, damage, costs, or claims, including but not limited to damages or injury caused by or related to loss of winnings, prizes, points, profits, data, error, omission, defect, failure of performance, delay of operation, computer viruses, or any other harmful component or other losses, whether in an action of contract, negligence or other action and even if GoProphet has been advised of the possibility of such events.<br>
<br>
Notwithstanding anything set in these terms and in addition hereto, the aggregate liability of GoProphet for any damages relating to, or from these terms shall in no circumstance exceed four hundred dollars ($400.00).<br>
<br>
</font>
<h2 class="featurette-heading">8. Claims of Copyright Infringement</span></h2>
<p class="lead"><font size="3">
<br>
You warrant that none of your user submissions are defamatory, violate any rights of third parties (including but not limited to intellectual properties or rights or privacy), or violate and applicable law.<br>
<br>
GoProphet may, under appropriate circumstances and at its discretion, terminate or disable the accounts of users who infringe the intellectual property of others. If  you believe that your work has been copied or compromised in a way that constitutes copyright infringement, or your intellectual property rights have otherwise been violated, please provide GoProphet’s Legal Director a notice containing the appropriate information regarding the violation.<br>
<br>
</font>

        </div>
        <div class="col-md-5">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#" style = "color : #FFFFFF" >Back to top</a></p>
        <p>&copy; 2014 GoProphet, Inc. &middot; <a href="change-hyperlink-color.php" style="color: #FFFFFF">Privacy</a> &middot; <a href="#" style="color: #FFFFFF">Terms</a>
      </footer>

    </div><!-- /.container -->

  </body>
</html>
